{% load static %}
<h5>Notification Channels <a tabindex="0" class="fa fa-info-circle" data-toggle="popover" title="Notification Channels"
                             data-content="Can choose to receive SMS texts via a cell phone and/or email from an email address."></a>
</h5><br>

<p>I give consent to receive notifications via:</p>
<div class="form-group row">
    <label for="id_phone" class="col-sm-4 col-form-label">Cell Phone <span> <img id='phone_img'
                                                                                 src='{% static "Image/x.png" %}'
                                                                                 width="15" height="15"
    /></span></label>
    {{ form.phone.errors }}
    <div class="col-sm-6">
        <input type="tel" id="id_phone" name="phone" class="form-control" placeholder="e.g. 780-123-4567"
               value="{{ form.phone.value|default:"" }}" autofocus>
    </div>

</div>
<div class="form-group row">
    <label for="id_email" class="col-sm-4 col-form-label">Email<span> <img id='email_img'
                                                                           src='{% static "Image/x.png" %}'
                                                                           width="15" height="15"
    /></span></label>
    {{ form.email.errors }}
    <div class="col-sm-6">
        <input type="text" id="id_email" name="email" class="form-control" placeholder="e.g. username@email.com"
               value="{{ form.email.value|default:"" }}" autofocus>
    </div>
</div>

{#<div class="form-group row">#}
{#    <label for="id_twitter" class="col-sm-4 col-form-label">Twitter Handle</label>#}
{#    {{ form.twitter_handle.errors }}#}
{#    <div class="col-sm-6">#}
{#        <input type="text" id="id_twitter_handle" name="twitter_handle" class="form-control" placeholder="e.g. casap91"#}
{#               value="{{ form.twitter_handle.value|default:"" }}" autofocus>#}
{#    </div>#}
{#</div>#}
<hr>
<h5>Areas of Availability <a tabindex="0" class="fa fa-info-circle" data-toggle="popover" title="Areas of Availability"
                             data-content="These areas are defined by the volunteer to receive notifications about missing persons within a set kilometer radius from the given address."></a>
</h5><br>
{{ formset.management_form }}
{% for form in formset.forms %}
    {{ form.non_field_errors }}
    {{ form.field_errors }}
    <div class="table">

        <div class="form-group row">
            <div class="col-sm-4 col-form-label">
                Address<span class="text-danger">*</span>
            </div>
            <div class="col-sm-6">
                {{ form.address }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 col-form-label">Km Radius<span class="text-danger">*</span></div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.km_radius }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Address for Area of Availability</h4>
            </div>
            <div class="modal-body">
                <div class="location">
                    <input id="geocomplete" type="text" placeholder="Type in an address" size="90"
                           class="form-control"/>
                </div>
                <div class="map_canvas"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<span>
    <center>
        <button class="btn btn-danger" type="button" id="remove_form">Remove Last Area</button>
        <button class="btn btn-primary" type="button" id="add_more">Add Additional Area</button>
    </center>
</span>
<hr>
<style>
    .pac-container {
        /* put Google geocomplete list on top of Bootstrap modal */
        z-index: 9999;
    }

    .map_canvas {
        width: 100%;
        height: 300px;
        margin: 10px 20px 10px 0;
    }
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgF1Ldq14xLP93KAh2ArF3-qr4hJ1CxcY&libraries=places"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.min.js"></script>
<script src="{% static "js/plugins/jquery.geocomplete.js" %}"></script>

<script>


    // language=JQuery-CSS
    $('#add_more').click(function () {
        cloneMore('div.table:last', 'volunteers');

    });
    // language=JQuery-CSS
    $('#remove_form').click(function () {
        removeForm('div.table:last', 'volunteers');
    });


    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({trigger: 'focus'});
    });

    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        if (total == 5) {
            alert('The maximum amount of area of availabilities is 5.')
        } else {
            newElement.find(':input').each(function () {
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }
    }

    function removeForm(selector, type) {
        var lastElement = $(selector);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        if (total == 1) {
            alert('Must provide at least 1 area of availability')
        } else {
            total--;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            lastElement.remove();
        }
    }

    var i = $("#id_phone").val();
    var k = $("#phone_img");
    if (i.length > 0) {
        k.attr('src', '{% static "Image/checkmark.png" %}');
        k.show();
    } else {
        k.attr('src', '{% static "Image/x.png" %}');
        k.show();
    }

    var l = $("#id_email").val();
    var j = $("#email_img");
    if (l.length > 0) {
        j.attr('src', '{% static "Image/checkmark.png" %}');
        j.show();
    } else {
        j.attr('src', '{% static "Image/x.png" %}');
        j.show();
    }


    $('#id_phone').on('input', function () {
        var i = $("#id_phone").val();
        var k = $("#phone_img");
        if (i.length > 0) {
            k.attr('src', '{% static "Image/checkmark.png" %}');
            k.show();
        } else {
            k.attr('src', '{% static "Image/x.png" %}');
            k.show();
        }
    });

    $('#id_email').on('input', function () {
        var l = $("#id_email").val();
        var j = $("#email_img");
        if (l.length > 0) {
            j.attr('src', '{% static "Image/checkmark.png" %}');
            j.show();
        } else {
            j.attr('src', '{% static "Image/x.png" %}');
            j.show();
        }
    });

    $(function () {
        $("#geocomplete").geocomplete({
            map: ".map_canvas",
            country: 'CA'
        });
    });

    var add;

    $(document).on('click', '.geocomplete', function () {
        var id = $(this).attr('id');
        add = id;
        console.log(id);
        $("#myModal").modal("show");
    });

    $("#myModal").on("click", ".btn-primary", function (e) {
        var address = $("#geocomplete").val();
        var new_id = '#' + add;
        $(new_id).val(address);
        console.log(new_id);
        $("#myModal").modal("hide");
    });


</script>




