{% load static %}

<div class="form-group row">
    <label for="id_phone" class="col-sm-4 col-form-label">Cell Phone<span class="text-danger">*</span></label>
    {{ form.phone.errors }}
    <div class="col-sm-6">
        <input type="tel" id="id_phone" name="phone" class="form-control" placeholder="e.g. 780-123-4567" required
               value="{{ form.phone.value|default:"" }}" autofocus>
    </div>

</div>
<div class="form-group row">
    <label for="id_email" class="col-sm-4 col-form-label">Email<span class="text-danger">*</span></label>
    {{ form.email.errors }}
    <div class="col-sm-6">
        <input type="text" id="id_email" name="email" class="form-control" placeholder="e.g. username@email.com"
               required
               value="{{ form.email.value|default:"" }}" autofocus>
    </div>
</div>

<div class="form-group row">
    <label for="id_twitter" class="col-sm-4 col-form-label">Twitter Handle</label>
    {{ form.twitter_handle.errors }}
    <div class="col-sm-6">
        <input type="text" id="id_twitter_handle" name="twitter_handle" class="form-control" placeholder="e.g. casap91"
               value="{{ form.twitter_handle.value|default:"" }}" autofocus>
    </div>

</div>
<hr>
<h5>Areas of Availability <i class="fa fa-info-circle" data-toggle="popover" title="Areas of Availability"
                             data-content="These areas are defined by the volunteer to receive notifications about missing persons within a set kilometer radius from the given address."></i>
</h5>
{{ formset.management_form }}
{% for form in formset.forms %}
    {{ form.non_field_errors }}
    {{ form.field_errors }}
    <div class="table">
        <div class="form-group row">
            <div class="col-sm-4 col-form-label">
                Street<span class="text-danger">*</span>
            </div>
            <div class="col-sm-6">
                {{ form.street }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 col-form-label">City<span class="text-danger">*</span></div>
            <div class="col-sm-6">
                {{ form.city }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4 col-form-label">Province<span class="text-danger">*</span></div>
            <div class="col-sm-6">
                {{ form.province }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-form-label">Km Radius<span class="text-danger">*</span></div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        {{ form.km_radius }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endfor %}
<span>
    <center>
        <button class="btn btn-danger" type="button" id="remove_form">Remove Last Area</button>
        <button class="btn btn-primary" type="button" id="add_more">Add Additional Area</button>
    </center>
</span>
<hr>
<script>
    // language=JQuery-CSS
    $('#add_more').click(function () {
        cloneMore('div.table:last', 'volunteers');
    });
    // language=JQuery-CSS
    $('#remove_form').click(function () {
        removeForm('div.table:last', 'volunteers');
    });

</script>

<script type="text/javascript" src="/static/js/plugins/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({});
    });

    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        if (total == 5) {
            alert('The maximum amount of area of availabilities is 5.')
        } else {
            newElement.find(':input').each(function () {
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }
    }

    function removeForm(selector, type) {
        var lastElement = $(selector);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        if (total == 1) {
            alert('Must provide at least 1 area of availability')
        } else {
            total--;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            lastElement.remove();
        }
    }

</script>




