{% extends "base.html" %}
{% load static %}

{% block page_title %}
    C-ASAP | Register as a volunteer
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block header_css %}
{% endblock %}

{% block content %}

    <script>
        /**
         * @return {boolean}
         */
        function IsEmpty() {
            var a = document.getElementById('id_phone').value.length;
            var b = document.getElementById('id_email').value.length;

            if (a === 0 && b === 0) {
                alert("Must provide AT LEAST one channel for notifications.");
                return false;
            } else {
                return true;
            }
        }
    </script>

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-8 col-lg-10">
                <div class="card mr-auto">
                    <div class="card-body">
                        <h4 class="card-title">
                            Register as a volunteer
                        </h4>
                        <hr>
                        <div class="container-fluid p-0">
                            <form enctype="multipart/form-data" method="post" action="">
                                {% csrf_token %}
                                {% include "registration/forms/register_volunteer.html" %}
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" onclick="return IsEmpty();" type="submit">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
