/* navbar */
.navbar-default {
    background-color: #162955;
    border-color: #E7E7E7;
}

/* Title */
.navbar-default .navbar-brand {
    color: #7887AB;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    color: #7887AB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #5E5E5E;
}

