{% load static %}
<div class="form-group row">
    <label for="id_first_name" class="col-sm-4 col-form-label">First Name <span class="text-danger">*</span></label>
    {{ form.first_name.errors }}
    <div class="col-sm-6">
        <input type="text" id="id_first_name" name="first_name"
               class="form-control" placeholder=""
               value="{{ form.first_name.value|default:"" }}"
               required>
    </div>
</div>
<div class="form-group row">
    <label for="id_last_name" class="col-sm-4 col-form-label">Last Name <span class="text-danger">*</span></label>
    {{ form.last_name.errors }}
    <div class="col-sm-6">
        <input type="text" id="id_last_name" name="last_name"
               class="form-control" placeholder=""
               value="{{ form.last_name.value|default:"" }}"
               required>
    </div>
</div>
<div class="form-group row">
    <label for="id_birthday" class="col-sm-4 col-form-label">Birthday <span class="text-danger">*</span></label>
    {{ form.birthday.errors }}
    <div class="col-sm-6">
        <input type="date" id="id_birthday" name="birthday"
               class="form-control" placeholder="YYYY-MM-DD"
                {% if is_post %}
               value="{{ form.birthday.value|default:"" }}"
                {% else %}
               value="{{ form.birthday.value|date:"Y-m-d"|default:"" }}"
                {% endif %}
               required></div>
</div>
<div class="form-group row">
    <label for="id_picture" class="col-sm-4 col-form-label">Picture <span class="text-danger">*</span></label>
    {{ form.picture.errors }}
    <div class="col-sm-6">
        <input type="file" id="id_picture" name="picture"
               class="" accept="image/png,image/jpeg" required>
    </div>
</div>
<div class="form-group row">
    <label for="id_description" class="col-sm-4 col-form-label">Description <a tabindex="0" class="fa fa-info-circle"
                                                                               data-placement="bottom"
                                                                               data-toggle="popover" title="Description"
                                                                               data-content="Include Race, Height, Weight, Eye color, and Hair colour. <hr> E.g. Race: Caucasian, Height: 5'3, Weight: 130 lbs, Eyes: Hazel, Hair: Brown"></a><span
            class="text-danger">*</span></label>
    {{ form.description.errors }}
    <div class="col-sm-6">
    <textarea id="id_description" name="description"
              class="form-control" required>{{ form.description.value|default:"" }}</textarea>
    </div>
</div>
<hr>
{{ formset.management_form }}
{#<div class="form-group" ng-cloak="" ng-repeat="form in addresses track by $index">#}
{#    <label for="id_addresses-[[ $index ]]-address" class="d-flex">#}
{#            <span ng-if="$first" class="">#}
{#                Address#}
{#            </span>#}
{#        <span ng-if="$first" class="text-danger float-left">*</span>#}
{#        <span ng-if="!$first" class="">#}
{#                Additional Address [[ $index + 1 ]]#}
{#        </span>#}
{#        <span ng-if="!$first" class="text-danger ml-auto" ng-click="removeAddress($index)">#}
{#            <span class="fa fa-remove"></span>#}
{#            remove#}
{#        </span>#}
{#    </label>#}
{#    <ul class="errorlist" ng-show="form.errors">#}
{#        <li ng-repeat="error in form.errors">[[ error ]]</li>#}
{#    </ul>#}
{#    {% if include_ids %}#}
{#        <input type="hidden" ng-show="form.instance_id" id="id_addresses-[[ $index ]]-id"#}
{#               name="addresses-[[ $index ]]-id" ng-model="form.instance_id">#}
{#    {% endif %}#}
{#    <input id="id_addresses-[[ $index ]]-address"#}
{#           name="addresses-[[ $index ]]-address"#}
{#           class="form-control" placeholder=""#}
{#           ng-model="form.value"#}
{#           ng-required="$first">#}
{##}
{#</div>#}
{#<div class="form-group">#}
{#    <div class="btn btn-secondary" ng-click="addAddress()">+</div>#}
{#</div>#}
<h5>Addresses</h5>
{% for form in formset.forms %}
    {{ form.non_field_errors }}
    {{ form.field_errors }}
    <div class="table">

        <div class="form-group row">
            <div class="col-sm-4 col-form-label">
                Street<span class="text-danger">*</span>
            </div>
            <div class="col-sm-6">
                {{ form.street }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4 col-form-label">City<span class="text-danger">*</span></div>
            <div class="col-sm-6">
                {{ form.city }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4 col-form-label">Province<span class="text-danger">*</span></div>
            <div class="col-sm-6">
                {{ form.province }}
            </div>
        </div>
        <hr>
    </div>
{% endfor %}
<span>
    <center>
        <button class="btn btn-danger" type="button" id="remove_form">Remove Last Address</button>
        <button class="btn btn-primary" type="button" id="add_more">Add Address</button>
    </center>
</span>
<hr>

<script>
    // language=JQuery-CSS
    $('#add_more').click(function () {
        cloneMore('div.table:last', 'addresses');
    });
    // language=JQuery-CSS
    $('#remove_form').click(function () {
        removeForm('div.table:last', 'addresses');
    });

</script>


<script>
    $(function () {
        $('[data-toggle="popover"]').popover({html: true, trigger: 'focus'})
    })

    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);

    }

    function removeForm(selector, type) {
        var lastElement = $(selector);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        if (total == 1) {
            alert('Must provide at least 1 address.')
        } else {
            total--;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            lastElement.remove();
        }
    }
</script>
