{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block page_title %}C-ASAP{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en">
    <meta name="theme-color" content="#e812b9"/>
    <meta name="msapplication-navbutton-color" content="#e812b9">
    <meta name="apple-mobile-web-app-status-bar-style" content="#e812b9">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>

    <link rel="alternate" hreflang="x-default" lang="en">
    {% block meta_description %}
    {% endblock %}
    {% block header_meta %}{% endblock %}

    {#    <link rel="shortcut icon" href="{% static "media/favicon.png" %}"/>#}

    {% block header_css_other_origin %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/plugins/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/plugins/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    {% block header_css %}{% endblock %}


    {% block header_js_other_origin %}
    {% endblock %}
    {% block import_jquery %}
        <script src="{% static "js/plugins/popper.min.js" %}"></script>
        <script src="{% static "js/plugins/jquery-3.2.1.min.js" %}"></script>
    {% endblock %}
    {% block import_bootsrap_js %}
        <script src="{% static "js/plugins/bootstrap.min.js" %}"></script>
    {% endblock %}
    {% block header_js %}{% endblock %}

</head>

<body {% block body_attributes %}{% endblock %}>
{% block body_start %}{% endblock %}

{% block include_header %}
    {% if not hide_header %}
        {% include 'header.html' %}
    {% endif %}
{% endblock %}
<main role="main" class="container-fluid p-0">
    <div id="main-container" class="container-fluid p-0">
        {% block messages %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert sys-msg alert-{{ msg.tags }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}
        {% block content_fullpage %}
            <div class="container-fluid p-0 pt-4 pb-4">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
</main>

{% block include_footer %}
    <script>

        var x = document.querySelectorAll(".carousel");
        var y = document.querySelectorAll(".carousel-control-prev");
        var z = document.querySelectorAll(".carousel-control-next");
        var q = document.querySelectorAll(".carousel-inner");

        // Set the carousel id's as well as the control hrefs
        for (var i = 0; i < x.length; i++) {
            x[i].id = 'myCarousel' + i;
            y[i].href = '#myCarousel' + i;
            z[i].href = '#myCarousel' + i;
        }

        // Set the first carousel item to be active to allow sliding action
        for(var k = 0; k < q.length; k++) {
            var a = q[k].querySelectorAll(".carousel-item");
            a[0].className = "carousel-item col-md-4 active";
        }

        $('[id^="myCarousel"]').on("slide.bs.carousel", function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item").length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $(".carousel-item")
                            .eq(i)
                            .appendTo(".carousel-inner");
                    } else {
                        $(".carousel-item")
                            .eq(0)
                            .appendTo(".carousel-inner");
                    }
                }
            }
        });
    </script>

    {% if not hide_footer %}
        {% include 'footer.html' %}
    {% endif %}
{% endblock %}

{% block import_default_scripts %}
    <script type='text/javascript' src="{% static "js/plugins/jquery.cookie.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
{% endblock %}

{% block scripts_other_origin %}{% endblock %}
{% block scripts %}{% endblock %}

</body>
</html>
