
<p style="background-color: greenyellow;margin-left: 150px; margin-right: 150px" id="header">
    Showing results for Person: <b>{{ selectperson }}</b> at Location: <b> {{ location }}</b>,
    From: <b>{{ time_from }}</b> To: <b>{{ time_to }}</b>
</p>


<table class="table" id="listevent">
    <thead class="thead-inverse">
        <tr>
            {% if title %} <!-- This is flag for if on Map screen or not(mapscreen has title and time range) -->
            <th>Time from</th>
            <th>Time until</th>
            {% else %}
            <th>Time</th>
            {% endif %}
            {% if selectperson ==  "all" %} 
            <th>Person</th> 
            {% endif %}
            <th>Location</th>
            <th>Activity type</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>

    {% for activity in query_result %}
    
        {% if title %}
            <th>{{ activity.time }}</th>
        {% endif %}
        <th>{{ activity.time }}</th>    
        {% if activity.person != selectperson %} 
            <th>{{ activity.person }}</th> 
        {% endif %}
        <th>{{ activity.location }}</th>
        {% if activity.location == None %}
            <th>seen-at-location</th>
        {% else %}
            <th>{% for cat in activity.location.category %} {{cat}}</br> {% endfor %}</th>
        {% endif %}
        <th>{{ activity.location.description }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>


