<link rel="stylesheet" type="text/css" href="/static/css/header.css">

<header>
    <nav class="navbar navbar-default navbar-expand-md fixed-top ">
        <a class="navbar-brand" href="{% url "index" %}">C-ASAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">


                <li class="nav-item">
                    <a class="nav-link hdr-report-missing" href="{% url "report_lost" %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                        <div class="badge badge-danger">Report missing person</div>
                    </a>
                </li>

                {% if user_profile %}
                {% if request.user.is_superuser %}

                <li class="nav-item">
                    <div>
                        <a class="nav-link" href="{% url "adminView" %}">Admin</a>
                    </div>
                </li>
                {% endif %}
                {% endif %}
                {% if user_profile %}
                    {% if not user_profile.volunteer %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "register_volunteer" %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                Become a Volunteer
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "vulnerable_list" %}">Vulnerable Persons</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.first_name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url "profile_edit" %}">My Profile</a>
                            {% if user_profile.volunteer %}
                                <a class="dropdown-item" href="{% url "volunteer_edit" %}">My Volunteer Profile</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "logout" %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                Logout
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>