<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Location</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mapview.css" />
    <script src="http://dev.openlayers.org/OpenLayers.js"></script>
    <script type="text/javascript">
    var map, vectors, controls;

    function init() {
        var a = location.href;
        var b = a.substring(a.indexOf("?") + 1);
        var locationData = b.substring(b.indexOf("=") + 1).split("&");
        map = new OpenLayers.Map('map');
        var OSM_layer = new OpenLayers.Layer.OSM("OpenStreet Map");
        map.addLayer(OSM_layer);


        
        var position = new OpenLayers.LonLat(locationData[1], locationData[0]).transform('EPSG:4326', 'EPSG:3857');

        var zoom = 1;

        var size = new OpenLayers.Size(21, 25);
        var offset = new OpenLayers.Pixel(-(size.w / 2), -size.h);

        var icon = new OpenLayers.Icon(src = "static/Image/marker.png", size, offset);
        //base layer
        var markers = new OpenLayers.Layer.Markers("Markers");

        var points = [
            new OpenLayers.Geometry.Point(-14635985, 7379780),
            new OpenLayers.Geometry.Point(-12635900, 7076780),
            new OpenLayers.Geometry.Point(-12635985, 7079780),
            new OpenLayers.Geometry.Point(-14635685, 7366710)
        ];
        var ring = new OpenLayers.Geometry.LinearRing(points);
        var polygon = new OpenLayers.Geometry.Polygon([ring]);

        // create some attributes for the feature
        var feature = new OpenLayers.Feature.Vector(polygon);
        var layer = new OpenLayers.Layer.Vector("Test");
        layer.addFeatures([feature]);
         var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
        renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;

        vectors = new OpenLayers.Layer.Vector("Vector Layer", {
            renderers: renderer
        });


        // controls = {
        //             point: new OpenLayers.Control.DrawFeature(vectors,
        //                         OpenLayers.Handler.Point),
        //             line: new OpenLayers.Control.DrawFeature(vectors,
        //                         OpenLayers.Handler.Path),
        //             polygon: new OpenLayers.Control.DrawFeature(vectors,
        //                         OpenLayers.Handler.Polygon),
        //             drag: new OpenLayers.Control.DragFeature(vectors)
        //         };

        //         for(var key in controls) {
        //             map.addControl(controls[key]);
        //         }



       
        map.addLayers([vectors]);
        map.raiseLayer(layer, map.layers.length);

        map.setCenter(position, zoom);
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position, icon));

        map.addControl(new OpenLayers.Control.LayerSwitcher());

        map.addControl(new OpenLayers.Control.Attribution());


    }
    </script>
</head>

<body onload="init()">
    </p>
    <div id="map" class="smallmap"></div>
</body>

</html>