<!DOCTYPE>
  <html>
  <head>
    <meta charset="utf-8"/>
    <title>example</title>
    <link rel="stylesheet" href="/static/css/iThing.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/jQAllRangeSliders-min.js"></script>
    <!-- <script type="text/javascript" src="http://ghusse.github.io/jQRangeSlider/stable/jQRangeSlider.js"></script> -->
  </head>
  <body>
    <div id="slider"></div>
    
    <script>

      $("#slider").dateRangeSlider();

    </script>
  </body>
</html>