{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Missing Person Details
                        </h4>
                        <hr>
                        <div class="media mb-2">
                            <img class="mr-3 w-50" src="{{ vulnerable.picture.url }}"
                                 alt="{{ vulnerable.full_name }}'s picture">
                            <div class="media-body">
                                <h5>
                                    <br>
                                    <center>{{ vulnerable.full_name }}</center>
                                </h5>
                                {% if vulnerable.nickname %}
                                    <h6>
                                        <center><i><b>{{ vulnerable.nickname }}</b></i></center>
                                    </h6>
                                {% endif %}
                                {% if record.state == "reported" %}
                                    <center><span class="badge badge-danger float-center">Reported Missing</span>
                                    </center>
                                {% elif record.state == "sighted" %}
                                    <center><span class="badge badge-warning float-center">Reported Seen</span></center>
                                {% else %}
                                    <center><span class="badge badge-success float-center">Reported Found</span>
                                    </center>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                    <center><br>
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                                data-target="#myModal">Details
                                        </button>
                                    </center>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Personal Details for {{ vulnerable.full_name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table cellpadding="8">
                                            <tr>
                                                <td align="right"><b>Name</b></td>
                                                <td>{{ vulnerable.full_name }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Birthday</b></td>
                                                <td>{{ vulnerable.birthday }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Sex</b></td>
                                                <td>{{ vulnerable.sex }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Race</b></td>
                                                <td>{{ vulnerable.race }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Hair Colour</b></td>
                                                <td>{{ vulnerable.hair_colour }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Approx Height</b></td>
                                                <td>{{ vulnerable.height }} cm</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Approx Weight</b></td>
                                                <td>{{ vulnerable.weight }} kg</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Eye Colour</b></td>
                                                <td>{{ vulnerable.eye_colour }}</td>
                                            </tr>
                                            <tr>
                                                <td align="right"><b>Favourite Locations</b></td>
                                                <td>{{ vulnerable.favourite_locations }}</td>
                                            </tr>
                                            {% if vulnerable.transportation %}
                                                <tr>
                                                    <td align="right"><b>Mode of Transportation</b></td>
                                                    <td>{{ vulnerable.transportation }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td align="right"><b>Description of Clothing</b></td>
                                                <td>{{ record.description }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-flush">
                        {% for sighting in record.get_sighting_records reversed %}
                            <div class="list-group-item list-group-item-warning">
                                <div class="container-fluid p-0 clearfix">
                                    Reported seen at: <span
                                        class="float-right text-dark">{{ sighting.time|timezone:user_tz_name|time }}</span>
                                </div>
                                <a href="{% url 'location' %}?lat={{ sighting.address_lat }}&{{ sighting.address_lng }}">{{ sighting.address }}</a>
                                {% if sighting.description %}
                                    <div class="container-fluid p-0 text-dark">
                                        {{ sighting.description }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="list-group-item list-group-item-danger">
                            <div class="container-fluid p-0 clearfix">
                                Reported missing at: <span
                                    class="float-right text-dark">{{ record.time|timezone:user_tz_name|time }}</span>
                            </div>
                            <a href="{% url 'location' %}?lat={{ record.address_lat }}&{{ record.address_lng }}">{{ record.address }}</a>
                        </div>
                    </div>
                    {% if record.state != "found" %}

                        <div class="card-footer clearfix">
                            {% if user_profile.coordinator_email %}
                                {#                            <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">#}
                                {#                                <div class="btn btn-primary float-right">Report Sighting</div>#}
                                {#                            </a>#}
                                <a href="{% url "report_found" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                    <div class="btn btn-success btn-block">Report Found</div>
                                </a>
                                {#                            {% else %}#}
                                {#                                                        <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">#}
                                {#                                <div class="btn btn-primary btn-block">Report Sighting</div>#}
                                {#                            </a>#}
                            {% else %}
                                <a href="tel:911">
                                    <div class="btn btn-danger btn-block">Seen {{ vulnerable.full_name }}? Call <i
                                            class="fa fa-phone"></i>911
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({html: true, trigger: 'focus'})
        });
    </script>

{% endblock %}