{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Missing Person Details
                        </h4>
                        <hr>
                        <div class="media mb-2">
                            <img class="mr-3 w-50" src="{{ vulnerable.picture.url }}"
                                 alt="{{ vulnerable.full_name }}'s picture">
                            <div class="media-body">
                                <h5>
                                    <center>{{ vulnerable.full_name }}</center>
                                </h5>
                                {% if record.state == "reported" %}
                                    <center><span class="badge badge-danger float-center">Missing</span></center>
                                {% elif record.state == "sighted" %}
                                    <center><span class="badge badge-warning float-center">Seen</span></center>
                                {% else %}
                                    <center><span class="badge badge-success float-center">Found</span></center>
                                {% endif %}
                                <hr>
                                <div class="container-fluid p-0">
                                    <center> {{ vulnerable.description }} </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if record.state == "found" %}
                        {% if record.find_records %}
                            {% with record.find_records.last as found_record %}
                                <div class="list-group-item list-group-item-success">
                                    <div class="container-fluid p-0 clearfix">
                                        Reported found at: <span
                                            class="float-right text-dark">{{ found_record.time|timezone:user_tz_name|time }}</span>
                                    </div>
                                    {{ found_record.address }}
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                    {% for sighting in record.get_sighting_records %}
                        <div class="list-group-item list-group-item-warning">
                            <div class="container-fluid p-0 clearfix">
                                Located at: <span
                                    class="float-right text-dark">{{ sighting.time|timezone:user_tz_name|time }}</span>
                            </div>
                            {{ sighting.address }}
                            {% if sighting.description %}
                                <div class="container-fluid p-0 text-dark">
                                    {{ sighting.description }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="list-group-item list-group-item-danger">
                        <div class="container-fluid p-0 clearfix">
                            Reported missing at: <span
                                class="float-right text-dark">{{ record.time|timezone:user_tz_name|time }}</span>
                        </div>
                        {{ record.address }}
                    </div>
                    {% if record.state != "found" %}
                        <div class="card-footer clearfix">
                            {% if user_profile.coordinator_email %}

                                {#                        <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">#}
                                {#                            <div class="btn btn-primary">Report Sighting</div>#}
                                {#                        </a>#}
                                <a href="{% url "report_found" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                    <div class="btn btn-success btn-block">Report Found</div>
                                </a>
                            {% else %}
                                <a href="tel:911">
                                    <div class="btn btn-danger btn-block">Seen {{ vulnerable.full_name }}? Call <i
                                            class="fa fa-phone"></i> 911
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}