{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Missing Details</li>
        </ol>
    </nav>
    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Missing Person Details
                        </h4>
                        <hr>
                        <div class="media mb-2">
                            <img class="mr-3 w-50" src="{{ vulnerable.picture.url }}"
                                 alt="{{ vulnerable.full_name }}'s picture">
                            <div class="media-body">
                                <h5>
                                    <br>
                                    <center>{{ vulnerable.full_name }}</center>
                                </h5>
                                {% if vulnerable.nickname %}
                                    <h6>
                                        <center><i><b>{{ vulnerable.nickname }}</b></i></center>
                                    </h6>
                                {% endif %}
                                {% if record.state == "reported" %}
                                    <center><span class="badge badge-danger float-center">Reported Missing</span>
                                    </center>
                                {% elif record.state == "sighted" %}
                                    <center><span class="badge badge-warning float-center">Seen</span></center>
                                {% else %}
                                    <center><span class="badge badge-success float-center">Reported Found</span>
                                    </center>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                    <center><br>
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                                data-target="#myModal">Details
                                        </button>

                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                                data-toggle="modal"
                                                data-target="#myModal3">Action
                                        </button>
                                    </center>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Personal Details for {{ vulnerable.full_name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <table cellpadding="8">
                                        <tr>
                                            <td align="right"><b>Name</b></td>
                                            <td>{{ vulnerable.full_name }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Birthday</b></td>
                                            <td>{{ vulnerable.birthday }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Sex</b></td>
                                            <td>{{ vulnerable.sex }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Race</b></td>
                                            <td>{{ vulnerable.race }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Hair Colour</b></td>
                                            <td>{{ vulnerable.hair_colour }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Approx Height</b></td>
                                            <td>{{ vulnerable.height }} cm</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Approx Weight</b></td>
                                            <td>{{ vulnerable.weight }} kg</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Eye Colour</b></td>
                                            <td>{{ vulnerable.eye_colour }}</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><b>Favourite Locations</b></td>
                                            <td>{{ vulnerable.favourite_locations }}</td>
                                        </tr>
                                        {% if vulnerable.transportation %}
                                            <tr>
                                                <td align="right"><b>Mode of Transportation</b></td>
                                                <td>{{ vulnerable.transportation }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td align="right"><b>Description of Clothing</b></td>
                                            <td>{{ record.description }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Action for {{ vulnerable.full_name }}</h4>
                                </div>
                                <div class="modal-body">
                                    {{ vulnerable.work_action }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Instructions/Tips for {{ vulnerable.full_name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        The goal is to safely reunite the vulnerable missing person with their
                                        family, while not putting anyone else at risk. Getting help is the most
                                        important thing.
                                    </p>
                                    <p>
                                        If you see the person who has been listed as missing, here are some steps
                                        for what to do next:
                                    </p>
                                    <ul>
                                        <li> Call Calgary Police Service at <a
                                                href="tel:+1-403-266-1234">403.266.1234</a>
                                            and let them know where the
                                            person is. Stay on the line with the communications officer and follow
                                            their directions.
                                        </li>
                                        <li> If you feel comfortable and safe in doing so, you can approach the
                                            person.
                                        </li>
                                    </ul>
                                    <hr>
                                    <b>A</b> ~ Approach
                                    <ul>
                                        <li>
                                            Identify yourself and let them know you want to help them get where they
                                            need to be.
                                        </li>
                                        <li>
                                            Ask if they need help
                                        </li>
                                        <li>
                                            Speak slowly and calmly; ask simple “Yes” or “No” questions; one
                                            question at a time
                                        </li>
                                        <li>
                                            Wait 15 – 30 seconds for a response
                                        </li>
                                    </ul>
                                    <b>L</b> ~ Listen
                                    <ul>
                                        <li>
                                            Avoid confrontation or argument
                                        </li>
                                        <li>
                                            Listen for key words or phrases that will help
                                        </li>
                                        <li>
                                            Be aware of their tone of voice and your tone of voice
                                        </li>
                                    </ul>
                                    <b>E</b> ~ Engage
                                    <ul>
                                        <li>
                                            Use good nonverbal communication – smile
                                        </li>
                                        <li>
                                            Make eye contact and approach from the front
                                        </li>
                                        <li>
                                            Stay with the person until help arrives
                                        </li>
                                    </ul>
                                    <b>R</b> ~ React
                                    <ul>
                                        <li>
                                            Getting help is most important
                                        </li>
                                        <li>
                                            Call Calgary Police Services at 403.266.1234 and let them know where the
                                            person is
                                        </li>
                                        <li>
                                            Stay on the line with the communication officer and follow their
                                            directions
                                        </li>
                                    </ul>
                                    <b>T</b> ~ Talk
                                    <ul>
                                        <li> If your attempt to approach them is unsuccessful, back away and give
                                            the person space. If possible stay close enough until help arrives.
                                        </li>
                                        <li>
                                            After the situation is resolved you may feel upset or want to talk with
                                            someone. Help is available 24/7 through the Distress Centre at <a
                                                href="tel:+1-403-266-4357">403.266.4357</a>.
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-flush">
                        {% if record.state == "found" %}
                            {% if record.find_records %}
                                {% with record.find_records.last as found_record %}
                                    <div class="list-group-item list-group-item-success">
                                        <div class="container-fluid p-0 clearfix">
                                            Reported found at: <span
                                                class="float-right text-dark">{{ found_record.time|timezone:user_tz_name|time }}</span>
                                        </div>
                                        <a href="{% url 'location' %}?lat={{ found_record.address_lat }}&{{ found_record.address_lng }}">{{ found_record.address }}</a>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                        {% for sighting in record.get_sighting_records %}
                            <div class="list-group-item list-group-item-warning">
                                <div class="container-fluid p-0 clearfix">
                                    Potential sighting at: <span
                                        class="float-right text-dark">{{ sighting.time|timezone:user_tz_name|time }}</span>
                                </div>
                                <a href="{% url 'location' %}?lat={{ sighting.address_lat }}&{{ sighting.address_lng }}">{{ sighting.address }}</a>
                                {% if sighting.description %}
                                    <div class="container-fluid p-0 text-dark">
                                        {{ sighting.description }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="list-group-item list-group-item-danger">
                            <div class="container-fluid p-0 clearfix">
                                Reported missing at: <span
                                    class="float-right text-dark">{{ record.time|timezone:user_tz_name|time }}</span>
                            </div>
                            <a href="{% url 'location' %}?lat={{ record.intersection_lat }}&{{ record.intersection_lng }}">{{ record.intersection }}</a>
                        </div>
                        {% if record.state != "found" %}
                            <div class="card-footer clearfix">
                                {% if user_profile.coordinator_email %}

                                    {#                        <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">#}
                                    {#                            <div class="btn btn-primary">Report Sighting</div>#}
                                    {#                        </a>#}
                                    <a href="{% url "report_found" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                        <div class="btn btn-success">Report Found</div>
                                    </a>
                                    <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                        <div class="btn btn-primary float-right ">Send Update</div>
                                    </a>
                                {% else %}
                                    <a href="tel:{{ emerg.phone_number }}">
                                        <div class="btn btn-danger">Call to update
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </a>
                                    <a href="{% url "report_sighting" hash=record.hash %}?next={{ request.path|add:'?'|add:request.GET.urlencode|urlencode }}">
                                        <div class="btn btn-primary float-right ">Send Update</div>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

        <center><br><b>
        <a data-toggle="modal" style="text-decoration: underline" href="#myModal2">What should I do if I find someone?
        </a></b>
    </center>

        <script>
        $(function () {
            $('[data-toggle="popover"]').popover({html: true, trigger: 'focus'})
        });
    </script>


{% endblock %}