{% extends "base.html" %}
{% load static %}

{% block page_title %}
    C-ASAP | History
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block header_css %}
{% endblock %}

{% block header_js %}
    <link rel="stylesheet" href="/static/css/iThing.css" type="text/css" />
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/js/jQAllRangeSliders-min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="http://openlayers.org/api/2.13/OpenLayers.js"></script>
    <script src="http://smalljs.org/ajax/superagent/superagent.js"></script>

    <script type="text/javascript">

    // draws vector shapes on specified layer. data in wkt string format. example:
    // MULTIPOLYGON (((-12638268.5812490005046129 7081697.4326630001887679, -12637389.5554239992052317 7081582.7771206004545093)))
    function show_vectors(layer, data){
        var wkt_f = new OpenLayers.Format.WKT();
        var last_exit = null;
        var _MS_PER_HOUR = 1000*60*60;
        var _MS_PER_MIN = 1000*60;
        var seen_ids = [];
        // iterate through each journey
        data.forEach(function(journey) {

            var pointList = [];
            var time_spent = {enter: null, exit: null};
            // add each path for each journey separately
            journey.forEach(function(place, i) {

                var color = "orange";
                if (layer.name == "Activities path") color ="green";
                if (place.category == "Harmful") color = "red";

                else var time = '';
                console.log(place)

                if (i==0 && last_exit != null && pointList.length==0) {
                    pointList.push(last_exit); // keep track of exit point to draw line from THIS IS BUGGY
                    last_exit = null;
                }

                var shape_type = place.feature.substr(0, place.feature.indexOf(" "));
                var geom = wkt_f.read(place.feature);

                if (shape_type == 'MULTIPOLYGON' && seen_ids.indexOf(place.id) == -1) var title = place.name;
                else var title = place.name + " " + place.act_type;

                if (place.act_type == 'enter location') time_spent.enter = new Date(place.time);

                if (place.act_type == 'exit place'){
                    time_spent.exit = new Date(place.time);
                    // keep track of total time spent there in millis
                    var place_update = layer.getFeaturesByAttribute('title', place.name);
                    if (place_update.length!=0){
                    // add total time spent there all together
                        if (place_update[0].attributes.time != '' && typeof place_update[0].attributes.time==='number' ){
                            place_update[0].attributes.time = place_update[0].attributes.time + (time_spent.exit.getTime() - time_spent.enter.getTime());
                        }
                        else {
                            place_update[0].attributes.time = time_spent.exit.getTime() - time_spent.enter.getTime();
                        }
                        layer.drawFeature(place_update[0]);

                        // update table
                        var curr_entry = $("table#listevent tbody tr > th:first-child").filter(function () {
                            return ($(this).text() == moment(time_spent.enter, "YYYY-MM-DD, hh:mm:ss").format('LLL'));
                        });
                        curr_entry.next().text(moment(time_spent.exit, "YYYY-MM-DD, hh:mm:ss").format('LLL'));
                    }

                }
                geom.attributes = {
                    'label': '',
                    'color': color,
                    'fillcolor': color,
                    'highlight': "0.4",
                    'xOffset': 0,
                    'yOffset': -15,
                    'strokeWidth': 2,
                    'title': title,
                    'time': time,
                    'owner': place.person,
                    'category': place.category,
                };
                if (shape_type == 'MULTIPOLYGON'){

                    if (seen_ids.indexOf(place.id) == -1){
                        if (time_spent.enter == null){
                            time_spent.enter = new Date(place.time);
                        }
                        layer.addFeatures([geom]);
                        layer.drawFeature(geom);
                        seen_ids.push(place.id);
                    }
                }

                if (shape_type == 'POINT'){
                    layer.addFeatures([geom]);
                    layer.drawFeature(geom);
                    var coords = place.feature.replace(/[`~!@#$%^&*()_|+\=?;:'",<>\{\}\[\]\\\/]/gi, '').split(' ');
                    var path_pnt = new OpenLayers.Geometry.Point(coords[1], coords[2]);


                    // if at last point in journey update last exit
                    if (place.act_type == 'exit place') {
                        last_exit = path_pnt;

                    }
                    else {
                        pointList.push(path_pnt);
                    }
                }
                // after two points

                if (pointList.length > 1) {
                    line = new OpenLayers.Geometry.LineString(pointList);
                    var feature = new OpenLayers.Feature.Vector(line);
                    feature.attributes = {
                        'label': '',
                        'dash': "solid",
                        'strokeWidth': 2,
                    };
                    last = pointList[1];
                    pointList = [];
                    pointList.push(last);

                    layer.addFeatures([feature]);
                    layer.drawFeature(feature);
                }

            });
        });

    }



    var map;
    function init(){
        map = new OpenLayers.Map('map');

        var Edmonton_LonLat = [-12637731.108363, 7081028.6705168]; // in EPSG:3857
        // Test location Athabasca

        var size = new OpenLayers.Size(21,25);
        var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
        var icon = new OpenLayers.Icon('https://png.pngtree.com/element_pic/17/09/19/9e5562bb417e6836881b6ca33135d761.jpg', size, offset);

        //base layer
        var OSM_layer = new OpenLayers.Layer.OSM("OpenStreet Map");
        map.addLayer(OSM_layer);

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(Edmonton_LonLat[0],Edmonton_LonLat[1]), icon));

        var position = new OpenLayers.LonLat(Edmonton_LonLat[0],Edmonton_LonLat[1]);

        OpenLayers.Projection.addTransform("EPSG:4326", "EPSG:3857", OpenLayers.Layer.SphericalMercator.projectForward);
        var zoom = 16;

        // journey from activities layer
     var s = new OpenLayers.Style({
         'strokeColor':"green",
         'pointRadius': 4,
         'strokeWidth': "${strokeWidth}",
         'fillColor':"${color}",
         'fillOpacity': "${highlight}",
         'label': "${label}",
         'fontColor': "white",
         'fontSize': "12px",
         'fontFamily': "Courier New, monospace",
         'fontWeight': "bold",
         'labelAlign': "cm",
         'strokeDashstyle': "${dash}",
         'labelOutlineColor': "black",
         'labelOutlineWidth': 3,
         'labelXOffset': "${xOffset}",
         'labelYOffset': "${yOffset}"
     });
        var path_style = new OpenLayers.StyleMap(s);
        point_vectors = new OpenLayers.Layer.Vector("Activities path", {styleMap: path_style}); //GLOBALLY AVAILABLE

        map.addLayer(point_vectors);

        points = {{point_collection|safe}}; // each activity dict including wkt features // GLOBAL
        show_vectors(point_vectors, points);

        map.setCenter(position, zoom);
        map.addControl(new OpenLayers.Control.LayerSwitcher());

    }

    </script>

{% endblock %}

{% block content %}

    <style>
        #mapContainer {
  width: 100%;
  height: 400px;
}
#map {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
}

    </style>

    <body onload="init()">
    <h3>History for {{ vulnerable.first_name }} {{ vulnerable.last_name }}</h3>

    <div id="mapContainer">
        <div id="map"></div>
    </div>

{% endblock %}
