{% extends "base.html" %}
{% load static %}

{% block page_title %}
    C-ASAP | Vulnerable list
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block header_css %}
{% endblock %}

{% block content %}

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-6">
                <div class="list-group mr-auto">
                    <div class="list-group-item">
                        <h4 class="card-title">
                            Your vulnerable list
                        </h4>
                        <hr>
                        <div class="container-fluid p-0">
                            {% for vul in vulnerable_list %}
                                {% if forloop.first %}
                                    <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Picture</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                {% endif %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    {% if vul.picture %}
                                        <img class="ht-lg" src="{{ vul.picture.url }}">
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ vul.full_name }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Options
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" href="{% url "vulnerable_edit" hash=vul.hash %}">Edit</a>
                                            <span class="dropdown-item">
                                                <form action="{% url "vulnerable_delete" hash=vul.hash %}" method="post"
                                                      class="d-inline" onsubmit="return confirm('Delete vulnerable client?')">
                                            {% csrf_token %}
                                            <input type="hidden" name="hash" value="{{ vul.hash }}">
                                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                        </form>
                                            </span>
                                            {% if request.user.is_staff %}
                                                <a class="dropdown-item"
                                                   href="{% url "vulnerable_history" hash=vul.hash %}">Map Views</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </tbody>
                                </table>
                            {% endif %}
                            {% empty %}
                                <div class="container-fluid text-center">
                                    You have not created any vulnerable people.
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="list-group-item text-right">
                        <div class="container-fluid p-0">
                            <a href="{% url "vulnerable_add" %}">
                                <div class="btn btn-primary">Add</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}