{% extends "base.html" %}
{% load static %}

{% block page_title %}
    C-ASAP | Create vulnerable person
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block header_js %}
    <script type="text/javascript" src="/static/js/plugins/angular.min.js"></script>
{% endblock %}

{% block body_attributes %}ng-app="App" ng-controller="Ctrl"{% endblock %}

{% block content %}

    <div class="container p-0">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-12">
                <div class="card mr-auto mb-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            Add vulnerable person
                        </h4>
                        <hr>
                        <div class="container-fluid p-0">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include "dashboard/vulnerable/forms/vulnerable_form.html" %}
                                <div class="form-group">
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                    <a href="{{ next }}">
                                        <div class="btn btn-link float-left">
                                            Cancel
                                        </div>
                                    </a>
                                    <button class="btn btn-primary float-right" type="submit">OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        {% autoescape off %}
            $.addresses = {{ addresses }};
        {% endautoescape %}
    </script>
    <script type="text/javascript" src="/static/js/dashboard/vulnerable/vulnerable_add.js"></script>
{% endblock %}
